# DN fields
organization = "XX"
unit = "XX"
locality = "XX"
state = "XX"
country = "XX"

# Subject alternative names
dns_name = "localhost"
dns_name = "*.test"
dns_name = "example.com"
dns_name = "example.org"
dns_name = "example.net"
ip_address = "127.0.0.1"
ip_address = "::1"
ip_address = "10.0.0.1"

# Key parameters
serial = 1
activation_date = "2025-01-01 00:00:00 UTC"
expiration_date = "2035-01-01 00:00:00 UTC"